# 1. Importation des librairies

In [115]:
import numpy as np
import pandas as pd

# 2.chargement des donnees

In [116]:
data = pd.read_csv('data/studentscores.csv')

In [117]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

# 3. Analyse des donnees

In [118]:
#3 Analyse des donnees

In [119]:
data.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 532.0 bytes

In [121]:
data['Hours'].max()

9.2

In [122]:
data['Hours'].min()

1.1

In [123]:
print(data['Hours'].max())

9.2

In [124]:
print("Max Score: ",data['Scores'].max())

Max Score:  95

In [125]:
print("Min Score: ",data['Scores'].min())

Min Score:  17

# 4. Division des donnees

In [126]:
data.head(4)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75

# Variables indep et Variable Dep

In [127]:
x = data.iloc[: , :-1].values
y = data.iloc[: , -1].values

In [128]:
#x

In [129]:
#y

# 4.1 Separation de donnees Train et Test

In [130]:
#x_train, x_test, y_train, y_test

In [131]:
from sklearn.model_selection import train_test_split

In [132]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25,random_state=40)

In [133]:
print("x-train Shape:",x_train.shape)

x-train Shape: (18, 1)

In [134]:
print("x-test Shape:", x_test.shape)
print("y-train Shape:", y_train.shape)
print("y-test Shap:", y_test.shape)

x-test Shape: (7, 1)
y-train Shape: (18,)
y-test Shap: (7,)

# 5. Constuire le Modele

In [135]:
from sklearn.linear_model import LinearRegression

In [136]:
modele_lineaire=LinearRegression()

In [137]:
modele_lineaire.fit(x_train, y_train)

LinearRegression()

In [138]:
y_scores_predits = modele_lineaire.predict(x_test)

In [139]:
y_scores_predits

array([90.34862057, 79.20125828, 11.303688  , 75.147672  , 33.59841257,
       86.29503428, 48.79936114])

In [140]:
y_test

array([95, 86, 17, 69, 42, 75, 54], dtype=int64)

In [141]:
resultats = pd.DataFrame(y_test, y_scores_predits)

In [142]:
resultats

            0
90.348621  95
79.201258  86
11.303688  17
75.147672  69
33.598413  42
86.295034  75
48.799361  54

In [143]:
from sklearn.metrics import mean_squared_error,r2_score

In [144]:
print("MSE de la regression lineaire:",mean_squared_error(y_test, y_scores_predits))

MSE de la regression lineaire: 51.90159659147336

In [ ]:
print("R2 Score de la regression Lineair:"