In [29]:
import numpy as np
import pandas as pd

# CHARGEMENT DES DONNEES

In [30]:
data = pd.read_csv('data/USA_Housing.csv')

In [31]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

# Analyse des donnees

In [32]:
data.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [34]:
data['Avg. Area Income'].max()

107701.74837763936

In [35]:
data['Avg. Area Income'].min()

17796.631189543397

In [36]:
print(data['Avg. Area Income'].max())

107701.74837763936

In [37]:
print("Max Price : ",data['Price'].max())

Max Price :  2469065.5941747027

In [38]:
print("Min Price : ",data['Price'].min())

Min Price :  15938.657923287848

# division des donnees

In [39]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [40]:
data.iloc[:,0]

0       79545.458574
1       79248.642455
2       61287.067179
3       63345.240046
4       59982.197226
            ...
4995    60567.944140
4996    78491.275435
4997    63390.686886
4998    68001.331235
4999    65510.581804
Name: Avg. Area Income, Length: 5000, dtype: float64

In [65]:
x=data.iloc[:,0].values
x=x.reshape(-1,1)

In [64]:
data.iloc[:,5]

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [54]:
y=data.iloc[:,5]

# 4.1 Separation de donnees Train et Test

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25,random_state=40)

In [57]:
print("x-train Shape:",x_train.shape)
print("x-test Shape:", x_test.shape)
print("y-train Shape:", y_train.shape)
print("y-test Shap:", y_test.shape)

x-train Shape: (3750, 1)
x-test Shape: (1250, 1)
y-train Shape: (3750,)
y-test Shap: (1250,)

# 5. Constuire le Modele

In [58]:
from sklearn.linear_model import LinearRegression

In [59]:
modele_lineaire=LinearRegression()

In [60]:
modele_lineaire.fit(x_train, y_train)

LinearRegression()

In [ ]:
y_scores_predits = modele_lineaire.predict(x_test)

In [62]:
y_scores_predits

NameError: name 'y_scores_predits' is not defined